/* Font */
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-secondary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.open-sans-optional {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Universal Styles */
*{
    margin-top: 0;
    background-color: #F5F8FF; 
}

/* Header Section */
.header{
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Navbar Style */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
  padding-top: 50px;
  background: none;
}
.navbar-logo img{
  height: 36px;
}
.navbar-links{
  background: none;
}
.btn{
  height: 48px;
  background-color: #4E47FF;
  border: none;
  border-radius: 10px;
  padding: 12px 36px;
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.btn:hover{
  background-color: #1f17ff;
  transition: background 0.3s ease;
  cursor: pointer;
}

/* Hero Section */
.banner{
  text-align: center;
  margin: 150px 267px;
  background: none;
  padding-bottom: 150px;
}
.banner h1{
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 60px;
  background: none;
}

/* Action Section */
.action-section{
  margin: 116px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-item{
  margin-right: 450px;
}
.action-title{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 23px;
}
.action-description{
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}
.action img{
  border-radius: 48px;
}