/* Font */
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-secondary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.open-sans-optional {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Universal Styles */
*{
    margin-top: 0;
}

/* Body Style */
body{
  background-color: #F5F8FF;
}

/* Header Section */
.header{
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Navbar Style */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
  padding-top: 50px;
  background: none;
}
.navbar-logo img{
  height: 36px;
}
.navbar-links{
  background: none;
}
.btn{
  height: 48px;
  background-color: #4E47FF;
  border: none;
  border-radius: 10px;
  padding: 12px 36px;
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.btn:hover{
  background-color: #1f17ff;
  transition: background 0.3s ease;
  cursor: pointer;
}

/* Hero Section */
.banner{
  text-align: center;
  margin: 150px 267px;
  background: none;
  padding-bottom: 150px;
}
.banner h1{
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 60px;
  background: none;
}

/* Action Section */
.actn-section{
  margin: 116px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actn-item{
  margin-right: 450px;
}
.actn-title{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 23px;
}
.actn-description{
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}
.actn-img img{
  border-radius: 48px;
}

/* Productive User Section */
.productive-section{
  background-color: rgba(78, 71, 255, 0.1);
  padding: 50px 142px;
  margin: 0 150px;
  border-radius: 24px;
}
.productive-section .section-title{
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color: #252432;
}
.productive-section .user-data{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
}
.productive-section .user-data h2{
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #4E47FF;
}
.productive-section .sub-title{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Review Section */
.review-section-title{
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-top: 137px;
  margin-bottom: 50px;
  color: #252432;
}
.review-card{
  display: flex;
  margin: 0 150px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 137px;
}
.review-card .card{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 24px;
  padding-right: 60px;
  border-radius: 14px;
  border: 1px solid rgba(242, 237, 237, 1);
}
.rating-star img{
  margin-right: 5px;
  margin-bottom: 24px;
}
.review{
  margin-bottom: 24px;
}
.review-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #1E1E1E;
}
review-description{
  font-size: 16px;
  color: #1E1E1E;
}
.user{
  display: flex;
  align-items: center;
  gap: 12px;
}
.reviewer-name{
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #303030;
}
.review-date{
  font-size: 16px;
  color: #B3B3B3;
}

/* Ready to focus section */
.focus-section{
  text-align: center;
  background-color: #ffffff;
  border-radius: 14px;
  padding: 71px 150px;
  margin: 0 150px;
}
.focus-section-title h1{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.focus-section-subtitle{
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0;
}
.focus-section-btn{
  margin-bottom: 20px;
}
.focus-section-btn .btn{
  font-weight: 500;
}
.focus-section-banner img{
  border-radius: 48px;
}

/* Let's get in Touch Section Style */
.contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
  margin: 0 150px;
  padding-bottom: 25px;
}
.contact-column{
  width: 50%;
}
.contact-title{
  font-size: 97px;
  font-weight: bold;
}

label{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  margin-left: 120px;
}
.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea
{
  display: block;
  height: 70px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #D6DDED;
  width: 80%;
  margin-left: 115px;
  margin-bottom: 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  font-family: "Inter", sans-serif;
}
.contact-form textarea{
  height: 150px;
}
.contact-form textarea::placeholder{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}
.get-in-btn .btn{
  width: 84%;
  margin-left: 115px;
  margin-bottom: 50px;
}

/* Footer Style */
footer{
  background-color: #ffffff;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 100px;
}
.footer-logo img{
  height: 54px; 
  margin-bottom: 25px;
}
.footer-subtitle p{
  padding: 0 560px;
  margin-bottom: 25px;
  color: #8987A1;
}
.footer-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.footer-links ul{
  list-style: none;
}
.footer-links a{
  text-decoration: none;
  color: #8987A1;
}
.footer-links a:hover{
  color: #1f17ff;
}